# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [2]:
url = 'https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv'
df = pd.read_csv(url)

### Step 4.  What is the frequency of the dataset?

In [3]:
df.head()

# data is collected weekly

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
1,2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2,2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
3,2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
4,2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0

### Step 5. Set the column Date as the index.

In [4]:
df.set_index('Date', inplace=True)

### Step 6. What is the type of the index?

In [5]:
df.index

Index(['2011-10-05', '2011-10-12', '2011-10-19', '2011-10-26', '2011-12-07',
       '2011-12-14', '2011-12-21', '2011-12-28', '2012-12-05', '2012-12-12',
       ...
       '2024-06-26', '2024-07-02', '2024-07-10', '2024-07-17', '2024-07-24',
       '2024-12-04', '2024-12-11', '2024-12-18', '2024-12-24', '2024-12-31'],
      dtype='object', name='Date', length=159)

### Step 7. Set the index to a DatetimeIndex type

In [6]:
df.index = pd.to_datetime(df.index)
df.index

DatetimeIndex(['2011-10-05', '2011-10-12', '2011-10-19', '2011-10-26',
               '2011-12-07', '2011-12-14', '2011-12-21', '2011-12-28',
               '2012-12-05', '2012-12-12',
               ...
               '2024-06-26', '2024-07-02', '2024-07-10', '2024-07-17',
               '2024-07-24', '2024-12-04', '2024-12-11', '2024-12-18',
               '2024-12-24', '2024-12-31'],
              dtype='datetime64[ns]', name='Date', length=159, freq=None)

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [7]:
# min_count=1 tells pandas to return NaN when there are no non-NA values to sum in resample
monthly = df.resample('M').sum(min_count=1)
monthly

/var/folders/46/mbfqnkdd62vdn30kdy8gwlxc0000gn/T/ipykernel_9994/123732836.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly = df.resample('M').sum(min_count=1)

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387.0,-16805.0,-1582.0,3188.0,8688.0,6841.0,1849.0,-6510.0
2011-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-12-31,-23657.0,-16659.0,-6999.0,2395.0,13817.0,9335.0,4483.0,-7443.0
2012-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2024-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-12-31,148012.0,NaN,135741.0,NaN,124989.0,NaN,10753.0,NaN

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

In [8]:
monthly = monthly.dropna()
monthly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-31,-18387.0,-16805.0,-1582.0,3188.0,8688.0,6841.0,1849.0,-6510.0
2011-12-31,-23657.0,-16659.0,-6999.0,2395.0,13817.0,9335.0,4483.0,-7443.0
2012-12-31,-23929.0,-22012.0,-1915.0,785.0,9828.0,12491.0,-2663.0,-13316.0
2013-12-31,8052.0,-5562.0,13615.0,4180.0,-24460.0,-14209.0,-10251.0,-12227.0
2014-12-31,-17011.0,-15124.0,-1887.0,-6141.0,-14400.0,-19014.0,4614.0,-37552.0
2015-12-31,-36337.0,-25116.0,-11221.0,-12474.0,-28678.0,-34571.0,5893.0,-77489.0
2017-01-31,-16148.0,-16362.0,214.0,-3621.0,14983.0,13870.0,1113.0,-4785.0
2017-12-31,-35122.0,-38565.0,3443.0,-6893.0,11175.0,12490.0,-1317.0,-30840.0
2019-01-31,97.0,1372.0,-1275.0,-5665.0,-1184.0,-8324.0,7140.0,-6752.0
2019-12-31,-58297.0,-50202.0,-8095.0,-5209.0,38491.0,28810.0,9680.0,-25014.0
2020-12-31,-66618.0,-40387.0,-26231.0,-2972.0,60423.0,50781.0,9643.0,-9170.0

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

In [9]:
yearly = df.resample('YE').sum(min_count=1)
yearly = yearly.dropna()
yearly

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-12-31,-42044.0,-33464.0,-8581.0,5583.0,22505.0,16176.0,6332.0,-13953.0
2012-12-31,-23929.0,-22012.0,-1915.0,785.0,9828.0,12491.0,-2663.0,-13316.0
2013-12-31,8052.0,-5562.0,13615.0,4180.0,-24460.0,-14209.0,-10251.0,-12227.0
2014-12-31,-17011.0,-15124.0,-1887.0,-6141.0,-14400.0,-19014.0,4614.0,-37552.0
2015-12-31,-36337.0,-25116.0,-11221.0,-12474.0,-28678.0,-34571.0,5893.0,-77489.0
2017-12-31,-51270.0,-54927.0,3657.0,-10514.0,26158.0,26360.0,-204.0,-35625.0
2019-12-31,-58200.0,-48830.0,-9370.0,-10874.0,37307.0,20486.0,16820.0,-31766.0
2020-12-31,-66618.0,-40387.0,-26231.0,-2972.0,60423.0,50781.0,9643.0,-9170.0

### BONUS: Create your own question and answer it.