# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [6]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep='\t')

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = df
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

### Step 5. What is the number of observations in the dataset?

In [8]:
# Solution 1

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [9]:
# Solution 2

chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [10]:
chipo.columns.size

5

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [17]:
# Group the data by item_name and select the quantity column
c = chipo.groupby('item_name')['quantity']

# Sum up the quantities for each unique item
c = c.sum()

# Sort the items by quantity in descending order
c = c.sort_values(ascending=False)

# Get the first row (most ordered item)
most_ordered_item = c.head(1)

most_ordered_item

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
# Use iloc[0] to access the actual number 
# and converts it to integer type for clean output
int(most_ordered_item.iloc[0])

761

### Step 11. What was the most ordered item in the choice_description column?

In [18]:
c = chipo.groupby('choice_description')['quantity']
c = c.sum()
c = c.sort_values(ascending=False)
most_ordered_item_choice_description = c.head(5)
most_ordered_item_choice_description

choice_description
[Diet Coke]                                                               159
[Coke]                                                                    143
[Sprite]                                                                   89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]     49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]              42
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [19]:
int(chipo.quantity.sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [20]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace("$", "")))
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [22]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [23]:
revenue = (chipo['item_price'] * chipo['quantity']).sum()
print('Revenue was: $' + str(np.round(revenue, 2)))

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [ ]:
total_orders = chipo.order_id.nunique() # count unique values in the order_id column
total_orders

1834

### Step 16. What is the average revenue amount per order?

In [25]:
# Solution 1
average_revenue = revenue / total_orders
average_revenue
print(f"${average_revenue:.2f}")

$21.39

In [34]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
average_order = chipo.groupby('order_id')['revenue'].sum().mean()
print(f"${average_order:.2f}")

$21.39

### Step 17. How many different items are sold?

In [35]:
int(chipo.item_name.value_counts().count())

50